@import "compass_twitter_bootstrap";

line.axis {
    stroke: black;
    stroke-width: 2;
}

.data-path {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 1;
    &.highlighted {
        stroke: red;
    }
}

.axis-label {
    fill: #666;
    font-size: 10px;
    &.highlighted {
        fill: red;
    }
}

.course-bubble {
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 1;
}

.alumni-path-label {
    color: #333;
    &.highlighted {
        color: red;
    }
}

.alumni-path {
    fill: transparent;
    stroke-width: 1;
    stroke: rgba(100, 100, 100, 0.3);
    &.highlighted {
        stroke: red;
    }
}