@import "compass_twitter_bootstrap";

line.axis {
    stroke: black;
    stroke-width: 2;
}

.data-path {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 1;
    &.highlighted {
        stroke: red;
    }
}

.axis-label {
    fill: #666;
    font-size: 10px;
    &.highlighted {
        fill: red;
    }
}

.course-bubble {
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 1;
    &.highlighted {
        stroke-width: 2;
        stroke: #789add;
    }
    &.selected {
        fill: #789add;
    }
}

.course-bubble-group {
    cursor: pointer;
}

.alumni-path-label {
    color: #333;
    font-size: 10px;
    cursor: pointer;
    &.highlighted {
        color: #789add;
    }
}

.alumni-path {
    fill: transparent;
    stroke-width: 1;
    display: block;
    stroke: rgba(100, 100, 100, 0.3);
    &.highlighted {
        stroke-width: 2;
        stroke: #789add;
    }
    &.hidden {
        display: none;
    }
}

div.list-container {
    height: 200px;
    overflow: scroll;
}

.dataTile {
    opacity: 0.5;
    &.highlighted {
        opacity: 1.0;
    }
    &.selected {
        opacity: 1.0;
    }
}
.dataLink {
    opacity: 0.5;
    stroke-width: 0;
    &.highlighted {
        opacity: 1.0;
        fill: rgba(100,200,200,1.0);
    }
    &.selected {
        opacity: 1.0;
        fill: rgba(50,50,80,1.0);
    }
    &.highlighted.selected {
        opacity: 1.0;
        fill: rgba(100,200,100,1.0);
    }
}

.bar-group rect {
    fill: green;
}

.bar-group text {
    fill: green;
    text-anchor: middle;
}

text.bar-label {
    text-anchor: middle;    
}

.bar-axis {
    stroke-width: 1;
    stroke: black;
}