@import "compass_twitter_bootstrap";
$backgroundColor: #e6e6e6;
$primaryColor: #22B573;
$primaryColorA9: rgba(34, 181, 115, 0.9);
$primaryColorA5: rgba(34, 181, 115, 0.5);
$primaryColorA3: rgba(34, 181, 115, 0.3);
$primaryColorA1: rgba(34, 181, 115, 0.1);
$primaryColorAlt: #105737;
$primaryColorAltA5: rgba(16, 87, 55, 0.5);
$secondaryColor: #386C98;
$secondaryColorAlt: #699CBF;

$alumniBarBackgroundColor: #999;
$height: 600px;

body {
    background-color: $backgroundColor;
    color: #666;
}

line.axis {
    stroke: black;
    stroke-width: 2;
}

.data-path {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 1;
    &.highlighted {
        stroke: red;
    }
}

.axis-label {
    fill: #666;
    font-size: 10px;
    &.highlighted {
        fill: red;
    }
}

.course-bubble {
    fill: $primaryColorA3;
    stroke-width: 0;
    &.highlighted, &.default {
        // stroke-width: 4;
        fill: $primaryColorA9;
        // stroke: $primaryColorAlt;
    }
    &.selected {
        stroke-width: 4;
        stroke: $primaryColorAlt;
    }
}

.course-bubble-ring-1 {
    fill: none;
    stroke-width: 1;
    stroke: $primaryColorA1;
}

.course-bubble-ring-3 {
    fill: none;
    stroke-width: 1;
    stroke: $primaryColorA3;
}

.course-bubble-ring-base {
    fill: none;
    stroke-width: 1;
    stroke: $primaryColorAltA5;
}

.course-bubble-label {
    fill: white;
    text-anchor: middle;
 
}
.course-bubble-popularity-label {
    fill: $primaryColorAlt;
}
.course-bubble-group {
    cursor: pointer;
    text {
        dominant-baseline: middle;   
    }
}

.alumni-toggle-button {
    position: absolute;
    z-index: 0;
    cursor: pointer;
    width: 44px;
    height: 44px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 2px 4px #999;
    border-radius:100px;
}

.alumni-bar {
    position: absolute;
    height: $height;
    width: 220px;
    background-color: $alumniBarBackgroundColor;
    input {
        width: 206px;
        border-radius: 0;
        margin-bottom: 0;
    }
    .alumni-bar-title {
        margin-left: 65px;
        color: #f7f7f7;
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.list-container {
    overflow: scroll;
    height: $height - 98;
    ul {
        margin-left: 0;
    }
    ul li {
        list-style: none;
        color: white;
        padding: 10px;
    }
}

.alumni-path-label {
    color: #333;
    font-size: 12px;
    cursor: pointer;

    &.highlighted, &.selected {
        color: #f7f7f7;
        background-color: $primaryColorAlt;
    }
}

.alumni-path {
    fill: transparent;
    stroke-width: 1;
    display: block;
    // visibility: hidden;
    stroke: rgba(100, 100, 100, 0.3);
    &.highlighted {
        visibility: visible;
        // stroke-width: 4;
        stroke-width: 1;
        stroke: #333;
        // fill: $primaryColorAlt;
    }
    &.selected {
        visibility: visible;
        // stroke-width: 4;
        // stroke: $primaryColorAlt;
        stroke-width: 4;
        stroke: rgba(34, 181, 115, 0.2);
        // fill: $primaryColorAlt;
    }
    &.hidden {
        display: none;
    }
}

.dataTile.bg {
    opacity: 1.0;
    &.greyout {
        opacity: 0.5;
    }
    &.highlighted {
        opacity: 1.0;
        fill: #55cc66;
        // fill: rgba(10,10,10,1.0);
    }
    &.selected {
        opacity: 1.0;
        fill: #004e33;
        // fill: rgba(50,50,80,1.0);
    }
    &.highlighted.selected {
        opacity: 1.0;
        fill: #246047;//rgba(100,200,100,1.0);
    }
}

.dataTile.pos {
    opacity: 1.0;
    &.greyout {
        opacity: 0.3;
    }
    &.highlighted {
        opacity: 1.0;
        fill: #2F5B80;
        // fill: rgba(10,10,10,1.0);
    }
    &.selected {
        opacity: 1.0;
        fill: #264866;
        // fill: rgba(50,50,80,1.0);
    }
    &.highlighted.selected {
        opacity: 1.0;
        // fill: rgba(100,200,100,1.0);
    }
}

.dataTile-highlightBar {
    stroke-width: 0;
    &.highlighted {
        fill: rgba(255,255,255,1.0);
    }
    &.selected {
        fill: none;
    }
    &.highlighted.selected {
        fill: rgba(255,255,255,1.0);   
    }
}

.dataLink {
    opacity: 1.0;
    stroke-width: 0;
    fill: #CCC;
    &.highlighted {
        opacity: 1.0;
        fill: #55cc66;
    }
    &.selected {
        opacity: 1.0;
        fill: #004e33;
    }
    &.highlighted.selected {
        opacity: 1.0;
        fill: #246047;
        //fill: rgba(100,200,100,1.0);
    }
}

.bar-group rect {
    fill: $primaryColor;
}

.bar-group text {
    fill: $primaryColor;
    text-anchor: middle;
}

text.bar-label {
    text-anchor: middle;
    fill: #666;
}

.bar-axis {
    stroke-width: 1;
    stroke: #999;
}

.path-bar-wrapper {
    position: relative;
    .text-wrapper{
        filter: alpha(opacity=0);
        background-color: #555555;
        vertical-align: middle;
        text-align: center;
        color: white;
        padding-left: 10px;
        padding-right: 30px;
        font-family: "Myriad Pro",sans-serif;
        cursor: pointer;
        background: #555555 url(http://s22.postimg.org/51zf7cl1d/arrow.png) no-repeat top 10px right;
        background-size: 25px;
        font-size: 20px;
         padding: 15px;
    }
    span.background{
        border-bottom: 2px dotted #999;
    }
    span.position{
        border-bottom: 2px dotted #999;
    }
    .sankey-wrapper {
        margin-top: 0px;
        padding: 0px;
        height: 0px;
        background: #494949;
        overflow: hidden;
        position: absolute;
        left: 0;
        text-align: center;
        position: absolute;
        z-index: 100;
        svg {
            margin-top: 20px;
        }
    }
    .sankey-wrapper.expanded {
        height: $height;
        width: 100%;
    }
}

.main-frame {
    position: relative;
    background-color: #fff;
    .info-frame {
        margin-left: 0;
        border-left: 4px solid $backgroundColor;
        height: $height;
        padding: 20px;
        overflow: hidden;
    }
    .bubble-frame {
        overflow: scroll;
        height: $height;
        margin-left: 0;
    }
    .alumni-frame {
        position: absolute;
        display: block;
        &.hidden, &.minimized {
            display: none;
        }
    }
}

.alumni-image-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #e6e6e6;
    margin-left: 20px;
    margin-right: 20px;
    &.small {
        position: absolute;
        margin: 0;
        width: 44px;
        height: 44px;
    }
}

.alumni-info {
    position: relative;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
    .back-button {
        position: absolute;
        left: 0px;
        padding: 10px;
        padding-left: 2px;
        margin-top: 23px;
        background-color: #ccc;
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
        .caret {
            width: 0px;
            height: 0px;
            vertical-align: middle;
            content: "";
            border: 8px solid transparent;
            border-right: 7px solid #666;
        }
    }
}

.sankey-label {
    fill: #ddd;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollbar-wrapper {
    width: 500px;
    height: 500px;
    background-color: #333;
    overflow: hidden;
    .content {
        width: 490px;
        height: 490px;
        padding: 5px 5px 5px 5px;
        overflow: auto;
        background-color: #300;
    }
}

/* way the hell off screen */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
