@import "compass_twitter_bootstrap";
$backgroundColor: #e6e6e6;
$primaryColor: #22B573;
$primaryColorAlt: #105737;
$secondaryColor: #386C98;
$secondaryColorAlt: #699CBF;

$alumniBarBackgroundColor: #999;
$height: 600px;

body {
    background-color: $backgroundColor;
    color: #666;
}

line.axis {
    stroke: black;
    stroke-width: 2;
}

.data-path {
    fill: transparent;
    stroke: #ccc;
    stroke-width: 1;
    &.highlighted {
        stroke: red;
    }
}

.axis-label {
    fill: #666;
    font-size: 10px;
    &.highlighted {
        fill: red;
    }
}

.course-bubble {
    fill: $primaryColor;
    stroke-width: 0;
    &.highlighted {
        stroke-width: 4;
        stroke: $primaryColorAlt;
    }
    &.selected {
        stroke-width: 4;
        stroke: $primaryColorAlt;
    }
}

.course-bubble-label {
    fill: white;
}

.course-bubble-group {
    cursor: pointer;
}

.list-container {
    background-color: $alumniBarBackgroundColor;
    overflow: scroll;
    height: $height;
    ul {
        margin-left: 0;
    }
    ul li {
        list-style: none;
        color: white;
        padding: 10px;
    }
    input {
        width: 180px;
    }
}

.alumni-path-label {
    color: #333;
    font-size: 12px;
    cursor: pointer;

    &.highlighted, &.selected {
        color: #f7f7f7;
        background-color: $primaryColorAlt;
    }
}

.alumni-path {
    fill: transparent;
    stroke-width: 1;
    display: block;
    visibility: hidden;
    stroke: rgba(100, 100, 100, 0.3);
    &.highlighted {
        visibility: visible;
        stroke-width: 4;
        stroke: $primaryColorAlt;
        // fill: $primaryColorAlt;
    }
    &.selected {
        visibility: visible;
        stroke-width: 4;
        stroke: $primaryColorAlt;
        // fill: $primaryColorAlt;
    }
    &.hidden {
        display: none;
    }
}

.dataTile {
    opacity: 0.5;
    &.highlighted {
        opacity: 1.0;
        fill: rgba(10,10,10,1.0);
    }
    &.selected {
        opacity: 1.0;
        fill: rgba(50,50,80,1.0);
    }
    &.highlighted.selected {
        opacity: 1.0;
        fill: rgba(100,200,100,1.0);
    }
}
.dataLink {
    opacity: 1.0;
    stroke-width: 0;
    &.highlighted {
        opacity: 1.0;
        fill: rgba(100,200,200,1.0);
    }
    &.selected {
        opacity: 1.0;
        fill: rgba(50,50,80,1.0);
    }
    &.highlighted.selected {
        opacity: 1.0;
        fill: rgba(100,200,100,1.0);
    }
}

.bar-group rect {
    fill: $primaryColor;
}

.bar-group text {
    fill: $primaryColor;
    text-anchor: middle;
}

text.bar-label {
    text-anchor: middle;
    fill: #666;
}

.bar-axis {
    stroke-width: 1;
    stroke: #999;
}

.path-bar-wrapper {
    position: relative;
    .text-wrapper{
        filter: alpha(opacity=0);
        background-color: #555555;
        vertical-align: middle;
        text-align: center;
        color: white;
        padding-left: 10px;
        padding-right: 30px;
        font-family: "Myriad Pro",sans-serif;
        cursor: pointer;
        background: #555555 url(http://s22.postimg.org/51zf7cl1d/arrow.png) no-repeat top 10px right;
        background-size: 25px;
        font-size: 20px;
         padding: 15px;
    }
    span.background{
        border-bottom: 2px dotted #999;
    }
    span.position{
        border-bottom: 2px dotted #999;
    }
    .sankey-wrapper {
        margin-top: 0px;
        padding: 0px;
        height: 0px;
        background: #494949;
        overflow: hidden;
        position: absolute;
        left: 0;
        text-align: center;
        svg {
            margin-top: 20px;
        }
    }
    .sankey-wrapper.expanded {
        height: 520px;
        width: 100%;
    }
}

.main-frame {
    background-color: #fff;
    .info-frame {
        margin-left: 0;
        border-left: 4px solid $backgroundColor;
        height: $height;
        padding: 20px;
        overflow: hidden;
    }
    .bubble-frame {
        overflow: scroll;
        height: $height;
        margin-left: 0;
    }
    .alumni-frame {
        display: block;
        &.hidden {
            display: none;
        }
    }
}

.alumni-image-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #e6e6e6;
    margin-left: 20px;
    margin-right: 20px;
}

.alumni-info {
    position: relative;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #e6e6e6;
    .back-button {
        position: absolute;
        left: 0px;
        padding: 10px;
        padding-left: 2px;
        margin-top: 23px;
        background-color: #ccc;
        cursor: pointer;
        &:hover {
            background-color: #ddd;
        }
        .caret {
            width: 0px;
            height: 0px;
            vertical-align: middle;
            content: "";
            border: 8px solid transparent;
            border-right: 7px solid #666;
        }
    }
}

.sankey-label {
    fill: #ddd;
}