
<div class="alumni-bar">
    <h4 class="alumni-bar-title">  Alumni's choice</h4>
    <input type="text" ng-change="filterTextChange(filterText)" ng-model="filterText" placeholder="Filter Alumni"/>
    <div class="list-container" pv-scroll="moveAlumniCoords">
        <ul>
            <li ng-repeat="alumnus in alumniData" id="{{alumnus.id}}" class="alumni-path-label" ng-mouseenter="highlightPath(alumnus)" ng-mouseleave="unhighlightPath(alumnus)" ng-show="alumnus.searchResult" ng-click="onAlumnusClicked(alumnus)" ng-class="{'highlighted': alumnus.highlighted, 'selected': alumnus.isSelected}">{{alumnus.title + ', ' + alumnus.name}}</li>
        </ul>
    </div>
</div>