<div class="alumni-info row-fluid" ng-hide="shouldShowOverview">
  <div class="span1">
    <a class="back-button" ng-click="onOverviewClicked()"><span class="caret"></span></a>
  </div>
  <div class="span11">
    <div class="pull-left">
      <div class="alumni-image-wrapper">
        <img src="images/mortarboard.png" alt="alumni icon"/>
      </div>
    </div>
    <div class="pull-left">
      <h2>UMSI 2012</h2>
      <h4>{{selectedAlumni[0].position}}, {{selectedAlumni[0].name}}</h4>
    </div>
  </div>
</div>
<div class="container row-fluid">
<div class="list-container span4" pv-scroll="moveAlumniCoords" ng-show="shouldShowOverview">
    <input type="text" ng-change="filterTextChange(filterText)" ng-model="filterText" />
    <ul>
        <li ng-repeat="alumnus in alumniData" id="{{alumnus.id}}" class="alumni-path-label" ng-mouseenter="highlightPath(alumnus)" ng-mouseleave="unhighlightPath(alumnus)" ng-show="alumnus.searchResult" ng-click="onAlumnusClicked(alumnus)" ng-class="{'highlighted': alumnus.highlighted}">{{alumnus.position + ', ' + alumnus.name}}</li>
    </ul>
</div>

<div class="chart-container span8">
    <svg height="{{(svg.height)}}" width="{{(svg.width)}}">
      <path class="alumni-path" ng-repeat="alumnus in alumniData" id="{{alumnus.id}}" d="{{alumnus.d}}" transform="translate(100, 100)" ng-mouseenter="highlightPath(alumnus)" ng-mouseleave="unhighlightPath(alumnus)" ng-show="shouldShowOverview" pv-svg-class='{"highlighted": "alumnus.highlighted", "hidden":"alumnus.hidden"}'></path>
      <path class="alumni-path" d="{{selectedAlumniCoursesData.d}}" ng-hide="shouldShowOverview" transform="translate(100, 100)" ></path>
      <g class="course-bubble-group" ng-repeat="course in courseData" ng-click="selectCourse(course)" ng-hide="course.isHidden">
          <circle class="course-bubble" cx="{{course.coord.x}}" cy="{{course.coord.y}}" r="{{course.popularity*30+20}}" transform="translate(100, 100)" pv-svg-class='{"highlighted": "course.isHighlighted", "selected": "course.isSelected"}'></circle>
          <text class="course-bubble-label" x="{{course.coord.x}}" y="{{course.coord.y}}" transform="translate(90, 105)">{{course.number}}</text>
      </g>
    </svg>
</div>

</div>