<div class="alumni-info row-fluid" ng-hide="shouldDisplayBubbleView.value">
  <div class="span1">
    <a class="back-button" ng-click="onOverviewClicked()"><span class="caret"></span></a>
  </div>
  <div class="span11">
    <div class="pull-left">
      <div class="alumni-image-wrapper">
        <img src="images/mortarboard.png" alt="alumni icon"/>
      </div>
    </div>
    <div class="pull-left">
      <h2>{{selectedAlumni[0].position}}</h2>
      <h4>{{selectedAlumni[0].name}}</h4>
    </div>
  </div>
</div>
<div class="container row-fluid">
<!-- <div class="chart-container span8"> -->
    <svg height="{{(svg.height)}}" width="{{(svg.width)}}">
      <!-- <path class="alumni-path" ng-repeat="alumnus in alumniData" id="{{alumnus.id}}" d="{{alumnus.d}}" transform="translate(80, 80)" ng-mouseenter="highlightPath(alumnus)" ng-mouseleave="unhighlightPath(alumnus)" ng-show="shouldDisplayBubbleView.value" pv-svg-class='{"highlighted": "alumnus.highlighted", "selected": "alumnus.isSelected", "hidden":"alumnus.hidden"}'></path> -->
      <path class="alumni-path" d="{{selectedAlumniCoursesData.d}}" ng-hide="shouldDisplayBubbleView.value" transform="translate(80, 80)" ></path>
      <g class="course-bubble-group" ng-repeat="course in courseData" ng-click="selectCourse(course)" ng-hide="course.isHidden" ng-mouseenter="hoverCourse(course)" ng-mouseleave="unhoverCourse(course)">
          <circle class="course-bubble-ring-1" cx="{{course.coord.x}}" cy="{{course.coord.y}}" r="{{45}}" transform="translate(80, 80)"></circle>
          <circle class="course-bubble-ring-3" cx="{{course.coord.x}}" cy="{{course.coord.y}}" r="{{35}}" transform="translate(80, 80)"></circle>
          <circle class="course-bubble-ring-base" cx="{{course.coord.x}}" cy="{{course.coord.y}}" r="{{30}}" transform="translate(80, 80)"></circle>
          <circle class="course-bubble" cx="{{course.coord.x}}" cy="{{course.coord.y}}" r="{{course.radius*30+30}}" transform="translate(80, 80)" pv-svg-class='{"highlighted": "course.isHighlighted || !shouldDisplayBubbleView.value", "selected": "course.isSelected", "default": "!isAnyAlumnushighlighted.value"}'></circle>
          <text class="course-bubble-label" x="{{course.coord.x}}" y="{{course.coord.y}}" transform="translate(80, 80)">{{course.catelog}} {{course.number}}</text>
          <text class="course-bubble-popularity-label" x="{{course.coord.x+course.radius*30+30+5}}" y="{{course.coord.y}}" transform="translate(80, 80)" ng-show="(course.isHovered || course.isSelected) && shouldDisplayBubbleView.value">{{course.popularity}}</text>
      </g>
    </svg>
<!-- </div> -->

</div>