<div class="row-fluid">
    <div class="span12">
        <div ng-include="'views/pathBar.html'" ng-controller="PathBarCtrl"></div>
    </div>
</div>
<div class="row-fluid main-frame">
    <div class="alumni-frame" ng-class="{span3: shouldDisplayBubbleView.value, hidden: !shouldDisplayBubbleView.value}">
        <div ng-include="'views/alumniBar.html'" ng-controller="AlumniBarCtrl"></div>
    </div>
    <div class="bubble-frame" ng-class="{span6: shouldDisplayBubbleView.value, span9: !shouldDisplayBubbleView.value}">
        <div ng-include="'views/bubble.html'" ng-controller="BubbleChartCtrl"></div>
    </div>
    <div class="span3 info-frame">
        <div ng-include="'views/courseInfo.html'" ng-controller="CourseInfoCtrl"></div>
    </div>
</div>




