<div class="path-bar-wrapper">
    <div class="text-wrapper" ng-click="toggle()">
        <span>I am a <span class="background">{{selectedBgName}}</span></span><span ng-if="selectedPosition !== ''">, I want to be a <span class="position">{{selectedPosName}}</span></span>
    </div>
    <div class="sankey-wrapper" ng-class="{'expanded': expanded}">
        <!-- <iframe src="/#/sankey" allowTransparency="true"></iframe> -->
        <div ng-include="'views/sankey.html'" ng-controller="SankeyCtrl"></div>
        <a class="btn btn-success toggle-button" ng-click="toggle()">Done</a>
    </div>
</div>