<svg height="{{(svg.height)}}" width="{{(svg.width)}}">
    <g>
        <g class="background {{background.bgIndex}}" ng-repeat="background in backgrounds">
            <rect ng-repeat="link in backToCareerLinks.filterWithClass(background.bgIndex, '', 0)" class="dataTile {{link.bgIndex}} {{link.posIndex}}" pv-svg-class='{"highlighted": "link.highlighted", "selected": "isSelected(link.bgIndex, 0)"}' x="{{anchors.leftX}}" y="{{(link.startCumPercentage)*(anchors.scale) + 30}}" width="{{anchors.leftColWidth}}" height="{{(link.startPercentage)*anchors.scale}}" fill="{{link.startColor}}" ng-mouseover="hoverBackground(link.bgIndex, link.posIndex, 1)" ng-mouseleave="leaveHighlightedArea()" ng-click="clickBackground(link.bgIndex, link.posIndex, 1)"></rect>
        </g>
    </g>
    <g>
        <g class="link" ng-repeat="link in backToCareerLinks">
            <path class="dataLink {{link.bgIndex}} {{link.posIndex}}" pv-svg-class='{"highlighted": "link.highlighted", "selected": "link.selected"}' d="{{link.path}}" fill="grey" ng-mouseover="hoverBackground(link.bgIndex, link.posIndex, 0)" ng-mouseleave="leaveHighlightedArea()"></path>
        </g> 
    </g>
    <g>
        <g class="positionTitle {{position.posIndex}}" ng-repeat="position in positionTitles">
            <rect ng-repeat="link in backToCareerLinks.filterWithClass('', position.posIndex, 1)" class="dataTile {{link.bgIndex}} {{link.posIndex}}" pv-svg-class='{"highlighted": "link.highlighted", "selected": "isSelected(link.posIndex, 1)"}' x="{{anchors.rightX}}" y="{{(link.endCumPercentage)*(anchors.scale) + 30}}" width="{{anchors.leftColWidth}}" height="{{(link.endPercentage)*anchors.scale}}" fill="{{link.endColor}}" ng-mouseover="hoverBackground(link.bgIndex, link.posIndex, 2)" ng-mouseleave="leaveHighlightedArea()" ng-click="clickBackground(link.bgIndex, link.posIndex, 2)"></rect>
        </g>
    </g>
</svg>
