<svg height="{{(svg.height)}}" width="{{(svg.width)}}">
    <g>
        <g class="background" ng-repeat="(bgIndex, background) in backgrounds">
            <rect class="dataTile {{background['bg-index']}} {{outcome['pos-index']}}" ng-repeat="outcome in background.outcome" x="{{anchors.leftX}}" y="{{(outcome.cumPercentage)*(anchors.scale) + 30}}" width="{{anchors.leftColWidth}}" height="{{(outcome.percentage)*anchors.scale}}" fill="{{background.color}}" ng-mouseover="hoverBackground(background['bg-index'], outcome['pos-index'])"></rect>
        </g>
    </g>
    <g>
        <g class="link" ng-repeat="link in backToCareerLinks">
            <path class="dataLink {{link.bgIndex}} {{link.posIndex}}" d="{{link.path}}" fill="{{link.color}}" ng-mouseover="hoverBackground(link.bgIndex, link.posIndex)"></path>
        </g> 
    </g>
    <g>
        <g class="positionTitle" ng-repeat="(psIndex, position) in positionTitles">
            <rect class="dataTile {{background['bg-index']}} {{position['pos-index']}}" ng-repeat="background in position.background" x="{{anchors.rightX}}" y="{{(background.cumPercentage) * anchors.scale + 30}}" width="{{anchors.rightColWidth}}" height="{{(background.percentage) * anchors.scale}}" fill="{{position.color}}" ng-mouseover="hoverBackground(background['bg-index'], position['pos-index'])"></rect>
        </g>
    </g>
</svg>
